* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    height: 75px;
    width: 100%;
}

.score-one {
    float: left;
    width: 50%;
    text-align: center;
    height: 75px;
}

.score-two {
    float: right;
    width: 50%;
    text-align: center;
    height: 75px;
}

.rules {
    float: left;
    width: 50%;
    font-size: 150%;
    padding: 10px 0 0 10px;;
    box-sizing: border-box;
}

.best-of {
    float: right;
    width: 50%;
    text-align: right;
    font-size: 150%;
}

.header {
    font-size: 150%;
    text-align: center;
    height: 150px;
    width: 100%;
}

#choices {
    height: 300px;
    width: 1200px;
    margin: 0 auto;
}

.rock {
    background-image: url(/assets/images/Rock.png);
    float: left;
    width: 15%;
    margin: 0px 2.5%;
    text-align: center;
    height: 300px;
}

.paper {
    background-image: url(/assets/images/Paper.png);
    float: left;
    width: 15%;
    margin: 0px 2.5%;
    text-align: center;
    height: 300px;
}

.scissors {
    background-image: url(/assets/images/Scissors.png);
    float: left;
    width: 15%;
    margin: 0px 2.5%;
    text-align: center;
    height: 300px;
}

.lizard {
    background-image: url(/assets/images/Lizard.png);
    float: left;
    width: 15%;
    margin: 0px 2.5%;
    text-align: center;
    height: 300px;
}

.spock {
    background-image: url(/assets/images/Spock.png);
    float: left;
    width: 15%;
    margin: 0px 2.5%;
    text-align: center;
    height: 300px;
}

.rock-one {
    float: left;
    width: 15%;
    margin: 0 10% 0 25%;
    text-align: center;
    height: 300px;
    background-image: url(/assets/images/Rock.png);
}

.paper-one {
    float: left;
    width: 15%;
    margin: 0 10% 0 25%;
    text-align: center;
    height: 300px;
    background-image: url(/assets/images/Paper.png);
}

.scissors-one {
    float: left;
    width: 15%;
    margin: 0 10% 0 25%;
    text-align: center;
    height: 300px;
    background-image: url(/assets/images/Scissors.png);
}

.lizard-one {
    float: left;
    width: 15%;
    margin: 0 10% 0 25%;
    text-align: center;
    height: 300px;
    background-image: url(/assets/images/Lizard.png);
}

.spock-one {
    float: left;
    width: 15%;
    margin: 0 10% 0 25%;
    text-align: center;
    height: 300px;
    background-image: url(/assets/images/Spock.png);
}

.rock-two {
    float: right;
    width: 15%;
    margin: 0 25% 0 10%;
    text-align: center;
    height: 300px;
    background-image: url(/assets/images/Rock.png);
}

.paper-two {
    float: right;
    width: 15%;
    margin: 0 25% 0 10%;
    text-align: center;
    height: 300px;
    background-image: url(/assets/images/Paper.png);
}

.scissors-two {
    float: right;
    width: 15%;
    margin: 0 25% 0 10%;
    text-align: center;
    height: 300px;
    background-image: url(/assets/images/Scissors.png);
}

.lizard-two {
    float: right;
    width: 15%;
    margin: 0 25% 0 10%;
    text-align: center;
    height: 300px;
    background-image: url(/assets/images/Lizard.png);
}

.spock-two {
    float: right;
    width: 15%;
    margin: 0 25% 0 10%;
    text-align: center;
    height: 300px;
    background-image: url(/assets/images/Spock.png);
}

.versus-two {
    float: right;
    width: 15%;
    margin: 0 25% 0 10%;
    text-align: center;
    height: 300px;
    background-color: aqua;
}

.choose-or-play {
    width: 100%;
    text-align: center;
    margin-top: 75px;
    font-size: 150%;;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }

.play-again {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .play-again:hover,
  .play-again:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }